body{
    background: rgb(0,197,168);/* Coloca a cor do fundo da pagina*/
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; /* coloca fonte na pagina toda*/
    text-align: center; /centraliza tudo no centro/
}
.phone img{
    width: 300px; 
    height: 500px;
    margin-top: 40px; 
}

.logo img{
    width: 100px; 
    height: 100px;
    margin-top: 40px; 
}
h1{
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #ffffff;
}
.geral1{
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}


.baixar{
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border-style: solid;
    border-color: #01E675;
    background-color: #01E675;
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    border-radius: 14px;
}